body{
	margin:0px;
	font-family: 'Raleway', sans-serif; 
}
/*
.sect2{
width: 100%;
height: 800px;

	background:  url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
}*/


/*#inimg1
{
	width: 100%;
	height: 100%;
}*/
.sect1{
width: 100%;
height: 750px;
}

.header1{
	background-color: white;
	padding: 25px;
}

.nav1{
	padding: 5px;
	text-align: center;
}

#span1{
	margin: 10px;
	color:black;
    font-size: 20px;
}
 #span2{
float:left;
margin: 0 0 0 0px;
position: relative;
bottom: 3px;

color:black;
font-size: 25px;
}
#select1{
	border: none;
}

#sect1-p1{
	color: white;
	font-size: 55px;
    position:absolute;
    top: 40%;
    left:50%;
}


#sect1-p2{
	color: white;
	font-size: 35px;
    position:absolute;
    top: 55%;
    left:51%;
}

a{
	text-decoration: none;
}




@media screen and (max-width:1276px ){
    body{
    margin:0px;
    font-family: 'Raleway', sans-serif; 
}
/*
.sect2{
width: 100%;
height: 800px;

    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
}*/


/*#inimg1
{
    width: 100%;
    height: 100%;
}*/
.sect1{
width: 100%;
height: 750px;
}

.header1{
    background-color: white;
    padding: 35px;
}

.nav1{
    padding: 10px;
    text-align: center;
}

#span1{
    margin: 15px;
    font-size: 18px;
    color:black;
}
 #span2{
float:left;
margin: 0 0 0 0px;
position: relative;
bottom: 5px;

color:black;
font-size: 27px;
}
#select1{
    border: none;
}

#sect1-p1{
    color: white;
    font-size: 52px;
    position:absolute;
    top: 25%;
    left:40%;
}


#sect1-p2{
    color: white;
    font-size: 31px;
    position:absolute;
    top: 33%;
    left:41%;
}

a{
    text-decoration: none;
}


}



@media screen and (max-width:992px ){
       body{
    margin:0px;
    font-family: 'Raleway', sans-serif; 
}
/*
.sect2{
width: 100%;
height: 800px;

    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
}*/


/*#inimg1
{
    width: 100%;
    height: 100%;
}*/
.sect1{
width: 100%;
height: 750px;
}

.header1{
    background-color: white;
    padding: 22px;
}

.nav1{
    padding: 4px;
    text-align: center;
}

#span1{
    margin: 8px;
    color:black;
}
 #span2{
float:left;
margin: 0 0 0 0px;
position: relative;
bottom: 3px;

color:black;
font-size: 22px;
}
#select1{
    border: none;
}

#sect1-p1{
    color: white;
    font-size: 55px;
    position:absolute;
    top: 35%;
    left:45%;
}


#sect1-p2{
    color: white;
    font-size: 30px;
    position:absolute;
    top: 50%;
    left:49%;
}

a{
    text-decoration: none;
}


}


@media screen and  (max-width:786px)
{
      body{
    margin:0px;
    font-family: 'Raleway', sans-serif; 
}
/*
.sect2{
width: 100%;
height: 800px;

    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
}*/


/*#inimg1
{
    width: 100%;
    height: 100%;
}*/
.sect1{
width: 100%;
height: 750px;
}

.header1{
    background-color: white;
    padding: 20px;
}

.nav1{
    padding: 3px;
    text-align: center;
}

#span1{
    margin: 7px;
    color:black;
}
 #span2{
float:left;
margin: 0 0 0 0px;
position: relative;
bottom: 2.5px;

color:black;
font-size: 20px;
}
#select1{
    border: none;
}

#sect1-p1{
    color: white;
    font-size: 55px;
    position:absolute;
    top: 30%;
    left:40%;
}


#sect1-p2{
    color: white;
    font-size: 30px;
    position:absolute;
    top: 45%;
    left:46%;
}

a{
    text-decoration: none;
}

}

@media screen and (max-width:600px ){
         body{
    margin:0px;
    font-family: 'Raleway', sans-serif; 
}
/*
.sect2{
width: 100%;
height: 800px;

    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
}*/


/*#inimg1
{
    width: 100%;
    height: 100%;
}*/
.sect1{
width: 100%;
height: 750px;
}

.header1{
    background-color: white;
    padding: 17px;
}

.nav1{
    padding: 2px;
    text-align: center;
}

#span1{
    margin: 5px;
    color:black;
}
 #span2{
float:left;
margin: 0 0 0 0px;
position: relative;
bottom: 2px;

color:black;
font-size: 16px;
}
#select1{
    border: none;
}

#sect1-p1{
    color: white;
    font-size: 50px;
    position:absolute;
    top: 25%;
    left:35%;
}


#sect1-p2{
    color: white;
    font-size: 25px;
    position:absolute;
    top: 40%;
    left:42%;
}

a{
    text-decoration: none;
}


}
/*-------------------------------------------footer------------------------------------------------------------------*/
.foot1{
/*	background-color:gray;*/

  background: rgb(211,211,211,0.5);
	height: 200px; 
	text-align: center;
	padding: 25px 0 20px 0;

}

#p1-foot{
	font-size: 18px;

	margin: 7% 0 0 0;
}
#twitter{

margin: 1% 3% 0% 3%;	
color: #2C2C2C ;
font-size: 35px;
opacity: 1;
padding-left:10px; 

}
	
#youtube{

margin: 1% 3% 0% 3%;	
color: #2C2C2C ;
font-size: 35px;
opacity: 1;
padding-left:10px; 

}
#youtube:hover{
    transform: scale(1.1,1.1);
}	
#instagram{

margin: 1% 3% 0% 3%;	
color: #2C2C2C ;
font-size: 35px;
opacity: 1;
padding-left:10px; 

}

#instagram:hover{
	
    transform: scale(1.1,1.1);
}	
#mail{

margin: 1% 3% 0% 3%;	
color:#2C2C2C ;
font-size: 35px;
opacity: 1;
padding-left:10px;

}
#mail:hover{
	 
    transform: scale(1.1,1.1);
}	
#facebook{
margin: 1% 3% 0% 3%;
color:#2C2C2C;
font-size: 35px;
opacity: 1;
padding-left:10px; 
}

#facebook:hover{
	
    transform: scale(1.1,1.1);
}	

#twitter:hover{
	 
    transform:scale(1.1,1.1);
}


                                            /*------------------------------------------section 2--------------------------------------------*/



.sect3{
	margin-top:5px; 
}

img{
			width: 100%;
			height: 300.001px;
		border-radius: 0px;
		}

#img-h:hover{
	border-radius:2px ; 
    transform: scale(1.01,1.02);
}		
		


		.grid-img{
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 0px;

			column-gap: 3px;
			
		}
	@media screen and (max-width:1276px ){

.sect3{
    margin-top:4px; 
}

img{
            width: 100%;
            height: 260px;
        border-radius: 0px;
        }

#img-h:hover{
    border-radius:2px ; 
    transform: scale(1.01,1.02);
}       
        


        .grid-img{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 0px;

            column-gap: 2px;
            
        }



    }


/* -----------------------------------------About page css ---------------------------------------------------------------*/





.sect1-about{
width: 100%;
height: 750px;
  background: rgb(211,211,211,0.5);

}

#sect1-p1-about{
	text-align: center;
	color: black;
	font-size: 30px;
}

#sect1-p2-about{
	text-align:justify;
	color: black;
	font-size: 22px;
	line-height: 280%;
}
a{
	text-decoration: none;
}


@media screen and (max-width:1276px ){


 
.sect1-about{
width: 100%;
height: 1366px;
  background: rgb(211,211,211,0.5);

}

#sect1-p1-about{
    text-align: center;
    color: black;
    font-size: 35px;
    margin: 45px 30px 30px 30px;
}

#sect1-p2-about{
    text-align:justify;
    color: black;
    font-size: 25px;
    line-height: 300%;
    margin: 15px;
}
a{
    text-decoration: none;
}



}


/*-----------------------------------------------------------CONTACT PAGE CSS-----------------------------------------------------------------*/
  #sect1-p1-about-cot{

    font-size: 30px;

    text-align: center;
    color: black;
  }
.sect1-contact{
width: 100%;
height: 800px;
  background: rgb(211,211,211,0.5);

}

#register-form{
display: inline-block;
width: 40%;

  background: transparent;
margin-left:10% ;
margin-right: auto;
border: 0px solid black;

}

.input-text{
	  background: rgb(211,211,211,0.5);
	width: 90%;
	margin:18px;
	padding: 15px;

	border: 0.7px solid gray;
	font-size: 18px;
	
}


.input-text1{
	  background:rgb(128,128,128,0.7);
	width: 95%;
	margin:18px;
	padding: 15px;

	border: 0.7px solid gray;
	font-size: 18px;
	
}

.arti1-about
{
	display: inline-block;
width: 30%;

  background: transparent;
margin-left:10% ;
margin-right: auto;
border: 0px solid black;
}

#h3-cont
{
	color: orange;
}
#btn1:hover{
		  background:rgb(17,250,141,0.5);
	cursor: pointer;
}


@media screen and (max-width:1276px ){

  #sect1-p1-about-cot{
    margin-top: 60PX;
    font-size: 40px;

    text-align: center;
    color: black;
  }

.sect1-contact{
width: 100%;
height: 1366px;
  background: rgb(211,211,211,0.5);

}

#register-form{
display: inline-block;
width: 45%;

  background: transparent;
margin-left:10% ;
margin-right: auto;
border: 0px solid black;

margin-top: 60PX;

}

.input-text{
      background: rgb(211,211,211,0.5);
    width: 90%;
    margin:25px;
    padding: 15px;

    border: 0.7px solid gray;
    font-size: 18px;
    
}


.input-text1{
      background:rgb(128,128,128,0.7);
    width: 95%;
    margin:25px;
    padding: 15px;

    border: 0.7px solid gray;
    font-size: 20px;
    
}

.arti1-about
{
    display: inline-block;
width: 30%;

  background: transparent;
margin-left:10% ;
margin-right: auto;
border: 0px solid black;
}

#h3-cont
{
    color: orange;
}
#btn1:hover{
          background:rgb(17,250,141,0.5);
    cursor: pointer;
}



    }
/*#btn1:onclick{
	transform: scale(0.9,0.9);
}*/
/*//refer https://www.skovro.com/index/G0000SaZPKQose18*/





/*--------------------------portrait page---------------------------------------------*/
.foot1-po{
/*	background-color:gray;*/

  background: rgb(211,211,211,0.5);
	height: 200px; 
	text-align: center;
	padding: 25px 0 20px 0;
  margin: 100px 0 0 0;


}


@media screen and (max-width:1276px ){

.foot1-po{
/*  background-color:gray;*/

  background: rgb(211,211,211,0.5);
    height: 200px; 
    text-align: center;
    padding: 25px 0 20px 0;
  margin: 5px 0 0 0;


}

}





/*-----------------------------------------------slideshow home code--------------------------------------------*/


 .showSlide {  
            display: none  
        }  
        #inimg1{
        	width: 100%;
        	height: 750px;
        }
            .showSlide img {  
                width: 100%;  
                height:750px;
            }  
        .slidercontainer {  
            width: 100%;  
            height: 750px;
         /*   position: relative;  */
            /*margin: auto;*/  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
    /*    .content {  
            color: #eff5d4;  
            font-size: 30px;  
            padding: 8px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        } */ 
        .active {  
            background-color: #717171;  
        }  
        /* Fading animation */  
        .fade {  
            -webkit-animation-name: fade;  
            -webkit-animation-duration: 1.5s;  
            animation-name: fade;  
            animation-duration: 1.5s;  
        }  
        @-webkit-keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        }  
  
        @keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        } 


@media screen and (max-width:1276px ){

     .showSlide {  
            display: none  
        }  
        #inimg1{
            width: 100%;
            height: 800px;
        }
            .showSlide img {  
                width: 100%;  
                height:800px;
            }  
        .slidercontainer {  
            width: 100%;  
            height: 800px;
         /*   position: relative;  */
            /*margin: auto;*/  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 35%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
    /*    .content {  
            color: #eff5d4;  
            font-size: 30px;  
            padding: 8px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        } */ 
        .active {  
            background-color: #717171;  
        }  
        /* Fading animation */  
        .fade {  
            -webkit-animation-name: fade;  
            -webkit-animation-duration: 1.5s;  
            animation-name: fade;  
            animation-duration: 1.5s;  
        }  
        @-webkit-keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        }  
  
        @keyframes fade {  
            from {  
                opacity: .4  
            }  
            to {  
                opacity: 1  
            }  
        } 

}

/*---------------------------------------------------booking form-------------------------------------------------------------------------*/

.sect1-book{
width: 100%;
height: 800px;
  background: rgb(211,211,211,0.5);

}

#register-form1-book{

width: 50%;

  background: transparent;
margin-left:auto; ;
margin-right: auto;
border: 0px solid black;

}

.input-text-book{
	  background: rgb(211,211,211,0.5);
	width: 90%;
	margin:18px;
	padding: 15px;

	border: 0.7px solid gray;
	font-size: 18px;
	
}

#select-book
{
	  background: rgb(211,211,211,0.5);


	border: 0.7px solid gray;
	
}

.input-text1-book{
	  background:rgb(128,128,128,0.7);
	width: 95%;
	margin:18px;
	padding: 15px;

	border: 0.7px solid gray;
	font-size: 18px;
	
}

#btn1:hover{
		  background:rgb(17,250,141,0.5);
	cursor: pointer;
}


@media screen and (max-width:1276px ){


.sect1-book{
width: 100%;
height: 1366px;
  background: rgb(211,211,211,0.5);

}

#register-form1-book{

width: 70%;

  background: transparent;
  margin-top: 55px;
  margin-bottom: 15px;
margin-left:auto ;
margin-right: auto;
border: 0px solid black;

}

.input-text-book{
      background: rgb(211,211,211,0.5);
    width: 90%;
    margin:25px;
    padding: 15px;

    border: 0.7px solid gray;
    font-size: 22px;
    
}

#select-book
{
      background: rgb(211,211,211,0.5);


    border: 0.7px solid gray;
    
}

.input-text1-book{
      background:rgb(128,128,128,0.7);
    width: 95%;
    margin:25px;
    padding: 15px;

    border: 0.7px solid gray;
    font-size: 22px;
    
}

#btn1:hover{
          background:rgb(17,250,141,0.5);
    cursor: pointer;
}

}








